.BuildControls {
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0, 0.8), rgba(0,0,0, 0.8)), url(../../../assets/images/cover.jpg);
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 2px 5px lightgray;
    margin: auto;
    padding: 20px 0;
    color: whitesmoke;
}


.OrderButton {
    border: 1px solid #966909;
    color: #966909;
    display: inline-block;
    padding: 10px 30px;
    margin: 25px auto;
    font-weight: 700;
    text-decoration: none;
    border-radius: 200px;
    background-color: transparent;
    cursor: pointer;
    font: inherit;
    transition: all 0.2s;
}

.OrderButton:hover, 
.OrderButton:active {
    background-color: #A0DB41;
    border: 1px solid #966909;
    color: #966909;
}

.OrderButton:disabled {
    background-color: transparent;
    cursor: not-allowed;
    border: 1px solid #ccc;
    color: #888888;
}

.OrderButton:not(:disabled) {
    animation: enable 0.3s linear;
}

@keyframes enable {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}