.Burger {
    width: 100%;
    margin: auto;
    height: 250px;
    overflow: auto;
    text-align: center;
}

.Burger p {
    display: block;
    color: brown;
    font-size: 1.2em;
    animation: addIng 0.8s ease-in-out infinite;
}

.Burger ul {
    text-decoration: none;
}

.IngList li {
    /* i couldn't remove the bullet points without removing the whole ingredient so i made it transparent*/
    color: transparent;
    margin: 2% auto;
}


@media (min-width: 500px) /*and (min-height: 400px) */{
    .Burger {
        width: 450px;
        height: 400px;
    }
}

@media (min-width: 1000px) /*and (min-height: 700px)*/ {
    .Burger {
        width: 700px;
        height: 600px;
    }
}

@keyframes addIng {
    0% {
        transform: translateY(0);
    }

    80% {
        transform: translateY(-5px);
        
    }

    100% {
        transform: translateY(2px);
    }
}

:global(.fade-enter) {
    opacity: 0;
  }
  :global(.fade-enter-active) {
    opacity: 1;
    transition: 200ms ease-out;
  }
  :global(.fade-exit) {
    opacity: 1;
  }
  :global(.fade-exit-active) {
    opacity: 0;
    transition: 200ms ease-out;
  }



