.Burger {
    flex: 3;
    height: 250px;
    width: 250px;
    overflow: auto;
    text-align: center;
    margin: 0 auto;
}

.Burger p {
    display: block;
    color: #AA6817;
    font-size: 1.2em;
    animation: addIng 0.8s ease-in-out infinite;
}

.Burger ul {
    text-decoration: none;
}

.IngList li {
    /* i couldn't remove the bullet points without removing the whole ingredient so i made it transparent*/
    color: transparent;
    margin: 2% auto;
}


@media (min-width: 600px) {
    .Burger {
        width: 350px;
        height: 400px;
        padding-top: 10%;
    }
}

@media (min-width: 1000px)  {
    .Burger {
        width: 600px;
        height: 500px;
    }
}

@keyframes addIng {
    0% {
        transform: translateY(0);
    }

    80% {
        transform: translateY(-5px);
        
    }

    100% {
        transform: translateY(2px);
    }
}

:global(.fade-enter) {
    opacity: 0;
  }
  :global(.fade-enter-active) {
    opacity: 1;
    transition: 200ms ease-out;
  }
  :global(.fade-exit) {
    opacity: 1;
  }
  :global(.fade-exit-active) {
    opacity: 0;
    transition: 200ms ease-out;
  }



