
.BuildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.Label {
    padding: 10px;
    font-weight: 300;
    width: 80px;
}

.BuildControl ion-icon {
    padding: 5px;
    margin: 0 5px;
    border: 1px solid #AA6817;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s all;
    font-size: 140%;
}

.BuildControl ion-icon:hover {
    color: #fff;

    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(155,155,155,0.2);
}

.BuildControl ion-icon:active {
    transform: translateY(0);
    box-shadow: 0 5px 10px rgba(155,155,155,0.2);
}


.BuildControl ion-icon:first-of-type:hover {
    background-color: red;
}

.BuildControl ion-icon:last-of-type:hover {
    background-color: green;
}
