.CheckoutSummary {
    text-align: center;
    width: 80%;
    margin: auto;
    color: burlywood;
    font-size: 100%;
}

.CheckoutSummary h1 {
    font-weight: 400;
    text-transform: uppercase;
}

.CheckoutSummary button {
    font-size: 80%;
    margin-bottom: 60px;
}

.Burger {
    width: 100%;
    margin: auto;
}
