.SideDrawer {
    position: fixed;
    left: 0;
    top: 0;
    width: 280px;
    max-width: 70%;
    height: 100%;
    z-index: 200;
    background-color: #fff;
    padding: 30px 15px;
    transition: transform 0.3s ease-out;
} 

.Logo {
    height: 12%;
}


.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%);
}

/* @media (min-width: 500px) {
    .SideDrawer {
        display: none;
    }
} */