

.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}

.Button {
    display: inline-block;
    padding: 10px 30px;
    margin: 15px 30px 5px 0;
    font-weight: 700;
    text-decoration: none;
    border-radius: 200px;
    background-color: transparent;
    cursor: pointer;
    font: inherit;
    transition: all 0.2s;
}

.Success {
    background-color: #e67e22;
    border: 1px solid #e67e22; /*has the same border as the other button so they could be the same height */
    margin-right: 20px;
    color: #fff;
}

.Danger {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.Button:hover {
    background-color: #cf6d17;
    border: 1px solid #cf6d17;
}

.Button:disabled {
    color: gray;
    cursor: not-allowed;
    background-color: #e67e22;
}

.Danger:hover {
    color: #fff;
}
