.NavItem {
    display: flex;
    align-items: center;
    /* height: 100%; */
}

.NavItem a {
    text-decoration: none;
    color: #000;
    padding: 16px;
    margin-top: 6.5px;
    border-bottom: 4px solid transparent; /*just so when the color appears 
    there won't be any movement in the postion */
    transition: 0.2s all;
} 

.NavItem a:active,
.NavItem a.active { /*last one means: anchor element with the class of active*/
    border-bottom: 4px solid brown;
    color: rgb(168, 87, 87);
    background-color: rgba(0, 0, 0, 0.1);
}

.NavItem a:hover {
    color: rgb(168, 87, 87);
}

@media (max-width: 500px) {
    .NavItem {
        width: 100%;
    }

    .NavItem a {
        width: 100%;
        padding: 12px;
    } 

    .NavItem a:active,
    .NavItem a.active { 
        border: transparent;
    }
}