.ContactData {
    width: 80%;
    max-width: 500px;
    margin: 20px auto;
}

.ContactData form {
    display: block;
    padding: 15px;
    border-radius: 3px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
    margin-bottom: 40px;
    transition: 1s;
}

.ContactData input,
select {
    padding: 8px;
    margin: 5px auto;
    box-sizing: border-box; /* general box-sizing didn't take affect*/
}    

@media (max-width: 500px) {
    .ContactData button {
        font-size: 80%;
    }
}

:global(.f-enter) {
    opacity: 0;
  }
  :global(.f-enter-active) {
    opacity: 1;
    transition: 1s ease-out;
  }
  :global(.f-exit) {
    opacity: 1;
  }
  :global(.f-exit-active) {
    opacity: 0;
    transition: 1s ease-out;
  }