.ContactData {
    /* display: flex; */
    width: 80%;
    max-width: 500px;
    margin: 20px auto;
}

.ContactData form {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.ContactData input {
    padding: 8px;
    margin: 5px;
}    