.Auth {
    width: 80%;
    max-width: 500px;
    margin: 20px auto;
}

.Auth form {
    display: block;
    padding: 15px;
    border-radius: 3px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
    margin-bottom: 40px;
}

.Auth input {
    padding: 8px;
    margin: 5px auto;
    box-sizing: border-box; /* general box-sizing didn't take affect*/
}    

@media (max-width: 500px) {
    .Auth button {
        font-size: 80%;
    }
}
