.Auth {
    width: 80%;
    max-width: 500px;
    margin: 20px auto;
}

.Auth form {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.Auth input {
    padding: 8px;
    margin: 5px;
}    
