.Input {
    /* width: 100%; */
    padding: 8px;
}

/* .Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
} */

.InputElement {
    outline: none;
    border: 1px solid gray;
    background-color: white;
    border-radius: 2px;
    font: inherit;
    display: block;
    width: 100%;
}

.Invalid {
    border: 1px solid red;
}

.Error {
    color: red;
}

.InputElement:focus {
    outline: none;
    background-color: rgb(240, 240, 240);

}