.Input {
    width: 100%;
    padding: 10px;
}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.InputElement {
    ouline: none;
    border: 1px solid gray;
    background-color: white;
    font: inherit;
    padding: 5px 10px;
    display: block;
    width: 100%;
}

.InputElement:focus {
    outline: none;
    background-color: lightgray;

}