.Input {
    width: 100%;
    padding: 8px;
}

/* .Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
} */

.InputElement {
    ouline: none;
    border: 1px solid gray;
    background-color: white;
    font: inherit;
    display: block;
    width: 100%;
}

.InputElement:focus {
    outline: none;
    background-color: rgb(240, 240, 240);

}