body {
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
  box-sizing: border-box;
}

*:focus {
    outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media(max-width: 500px) {
    p {
        display: flex;
        flex-wrap: wrap;
    }

    body {
        font-size: 85%;
    }
}
